h1 {
	font-family: verdana;
}

/* Add a black background color ot the top navigation */
.topnav {
	background-color: grey;
	overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
	float: left;
	color: black;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
	font-size: 17px;
	font-family: verdana;
}

/* Change the color of links on hover */
.topnav a:hover {
	background-color: white;
	color: black;
}

/* Add color to the active/current link */
.topnav a.active {
	background-color: blue;
	color: white;
}

.headimg {
	float: left;
	display: inline;
}